!!! 5
%html{:lang => language_code_of(@item)}
 %head
  %meta{:charset => "utf-8"}
  %meta{:name => "author", :content => "Jose Luis Garcia Martinez"}
  %meta{:name => "keywords", :content => "personal site web developer java jquery css css3 html html5  coffeescript jose luis garcia martinez responsive adaptive design"}
  %meta{:name => "description", :content => "Jose Luis Garcia Martinez personal site. Here you can find my resume and my projects."}
		
  %meta{:name => "viewport", :content => "width=device-width, minimum-scale=1.0, maximum-scale=1.0"}
  %meta{:name => "generator", :content => "nanoc #{Nanoc::VERSION}"}
		
  %title= "#{@item[:title]} - jlgm.org"

  %link{:href => "/images/layout/favicon.png", :rel => "shortcut icon", :type => "image/png"}
  %link{:href => "/humans.txt", :rel => "author"}
  %link{:href => "/css/stylesheet.css", :rel => "stylesheet", :type => "text/css", :media => "screen"}
  %link{:href => "/css/prettify.css", :rel => "stylesheet", :type => "text/css"}
  %link{:href => 'http://fonts.googleapis.com/css?family=Russo+One', :rel => 'stylesheet', :type => 'text/css'}

 
  
%body
 %header= render 'header'
 %nav= render 'nav'
 #content= yield
 %footer= render 'footer'

 / jQuery
 %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"}

 / HiSCR
 %script{:src => "/js/hisrc.js"}
 
 / Google Prettify
 %script{:type => "text/javascript", :src =>"/js/prettify.js"}
 %script{:type => "text/javascript"}
  $(function() { 
  $('code').addClass('prettyprint').addClass('linenums'); 
  prettyPrint();
  });

 / Google Analytics
 %script{:type => "text/javascript"}
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33890684-1']);
  _gaq.push(['_trackPageview']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();

  / jQuery Scripts
  $.hisrc.speedTest();
  
  $(document).ready(function(){
  $(".hisrc img").hisrc();
  $(".hisrc img+img").hisrc({ useTransparentGif: true });
  })
